html {
    --primary-color: #FFF0D1;
    --secondary-color: #795757;
    --teritary-color: #664343;
    --accent-color: #3b3030;
}

body {
  font-family: monospace;
  padding: 2rem;
  background-color: var(--accent-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-header {
    color: white;
    font-size: 2rem;
}

.control-panel {
    display: flex;
    gap: 10em;
    margin: 3em;
    padding: 1.5em;
    background-color: var(--primary-color);
}

.info-section {
    font-size: 1.25em;
    padding: 3em;
    display: flex;
    gap: 10em;
}

.info-panel {
    background-color: var(--primary-color);
    font-size: 2em;
    padding: 3em;
    color: var(--accent-color);
}

#brew-progress-bar {
    position: relative;
    width: 100%;
    min-height: 10%;
    text-align: center;
    color: white;
    border-radius: 2em;
    padding: 0.25em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    background-color: #ECB176;
    overflow: hidden;
}

#brew-percentage{
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
}

#brew-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    width: 0%;
    color: white;
    border-radius: 2em;
    transition: width 0.3s ease;
    background-color: var(--accent-color);
}

.coffee-brew-duration {
    display: flex;
    gap: 1em;
    align-items: center;
}

.coffee-selector {
    border-radius: 1em;
    border: none;
    color:#fff0d1;
    font-size: 1.2rem;
    padding: 0.5em;
    background-color: #ECB176;
    font-family: monospace;
}

.coffee-button {
    border-radius: 1em;
    min-width: 10em;
    padding: 1.25em;
    font-size: 1.25rem;
    border-color: white;
    color: white;
    font-family: monospace;
    border: none;
    background-color: #ECB176;
}
