html {
    --primary-color: #FFF0D1;
    --secondary-color: #795757;
    --teritary-color: #664343;
    --accent-color: #3b3030;
}

body {
  font-family: monospace;
  padding: 2rem;
  background-color: var(--accent-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-header {
    color: white;
    font-size: 2rem;
}

.control-panel {
    display: flex;
    gap: 10em;
    margin: 3em;
    padding: 1.5em;
    background-color: var(--primary-color);
}

.info-section {
    font-size: 1.25em;
    padding: 3em;
    display: flex;
    gap: 10em;
}

.info-panel {
    background-color: var(--primary-color);
    font-size: 2em;
    padding: 2em;
    color: var(--accent-color);
}

.coffee-button {
    border-radius: 1em;
    min-width: 10em;
    padding: 1.25em;
    font-size: 1.25rem;
    border-color: white;
    color: white;
    font-family: monospace;
    border: none;
    background-color: #ECB176;
}
